<div  class="container">
  <h1 align="center" class="alert alert-success">{{descripcion}} </h1>

<table class="table table-striped" border="2">
      <thead>
        <tr>
          <th>Juego</th>
          <th>Jugador</th>
          <th>Resultado</th>      
        </tr>
      </thead>    
        
      
      <tr *ngFor="let juego of Listado" >
        <th>{{juego.nombreJuego}}</th>
        <th>{{juego.jugador}}</th>
        <th *ngIf="juego.resultado">Gano</th>
        <th *ngIf="!juego.resultado">Perdio</th>
      </tr>

  </table>
</div>    


